# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

In [1]:
import pandas as pd

df = pd.read_csv('data/sp500hst.txt')
df.columns=["date", "ticker", "open", "high", "low", "close", "volume"]
print(f"[Task 01] Dataframe: \n\n {df}")

[Task 01] Dataframe:

             date ticker   open     high     low  close  volume
0       20090824      A  25.64  25.7400  25.330  25.50   22247
1       20090825      A  25.50  25.7000  25.225  25.34   30891
2       20090826      A  25.32  25.6425  25.145  25.48   33334
3       20090827      A  25.50  25.5700  25.230  25.54   70176
4       20090828      A  25.67  26.0500  25.630  25.83   39694
...          ...    ...    ...      ...     ...    ...     ...
122568  20100813    ZMH  51.72  51.9000  51.380  51.44   14561
122569  20100816    ZMH  51.13  51.4700  50.600  51.00   13489
122570  20100817    ZMH  51.14  51.6000  50.890  51.21   20498
122571  20100819    ZMH  51.63  51.6300  50.170  50.22   18259
122572  20100820    ZMH  50.03  50.5500  49.480  49.82   17792

[122573 rows x 7 columns]

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

In [2]:
df = pd.read_csv('data/sp500hst.txt')
df.columns=["date", "ticker", "open", "high", "low", "close", "volume"]

print(df[['open','high', 'low', 'close']].mean())

open     42.595596
high     43.102386
low      42.054601
close    42.602004
dtype: float64

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

In [3]:
df = pd.read_csv('data/sp500hst.txt')
df.columns=["date", "ticker", "open", "high", "low", "close", "volume"]

print(pd.to_datetime(df['date'], format="%Y%m%d").dt.month)

0         8
1         8
2         8
3         8
4         8
         ..
122568    8
122569    8
122570    8
122571    8
122572    8
Name: date, Length: 122573, dtype: int64

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

In [4]:
df = pd.read_csv('data/sp500hst.txt')
df.columns=["date", "ticker", "open", "high", "low", "close", "volume"]

print(df.groupby('ticker')['volume'].sum())

ticker
A        8574578
AA      81898998
AAPL    52261170
ABC      9006756
ABT     18975870
          ...
XTO     21297931
YHOO    56837171
YUM     10971538
ZION    15551119
ZMH      4938916
Name: volume, Length: 524, dtype: int64

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

In [5]:
df = pd.read_csv('data/sp500hst.txt')
df.columns=["date", "ticker", "open", "high", "low", "close", "volume"]

df1 = pd.read_csv('data/sp_data2.csv', sep=";" , names=['ticker', 'company', 'procent'])
df2=df1.merge(df)

print(f"{df2}")

      ticker          company procent      date    open    high     low  \
0       AAPL            Apple    3.6%  20090821  167.81  169.37  166.80
1       AAPL            Apple    3.6%  20090824  170.00  170.71  168.27
2       AAPL            Apple    3.6%  20090825  169.43  170.94  169.13
3       AAPL            Apple    3.6%  20090826  168.94  169.55  166.76
4       AAPL            Apple    3.6%  20090827  168.59  169.57  164.83
...      ...              ...     ...       ...     ...     ...     ...
82166    RRC  Range Resources    0.0%  20100813   36.18   36.87   35.63
82167    RRC  Range Resources    0.0%  20100816   35.37   35.57   34.90
82168    RRC  Range Resources    0.0%  20100817   35.88   36.24   35.22
82169    RRC  Range Resources    0.0%  20100819   34.98   35.10   34.22
82170    RRC  Range Resources    0.0%  20100820   34.27   34.27   33.35

        close  volume
0      169.22  148597
1      169.06  145331
2      169.40  115840
3      167.41  108570
4      169.45  160421
...       ...     ...
82166   35.66   23961
82167   35.05   41176
82168   35.91   38073
82169   34.57   36762
82170   33.47   41591

[82171 rows x 9 columns]

## Лабораторная работа №2

### Базовые операции с `DataFrame`

In [6]:
import pandas as pd

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца(ов) с индексами.

In [7]:
recipes = pd.read_csv('data/recipes_sample.csv', sep=',')
reviews = pd.read_csv('data/reviews_sample.csv', sep=',')
print(f"[Task 1.1] Answer:\n\nRecipes:\n{recipes}\n\nReviews:\n{reviews}")

[Task 1.1] Answer:

Recipes:
                                               name      id  minutes  \
0             george s at the cove  black bean soup   44123       90
1                healthy for them  yogurt popsicles   67664       10
2                      i can t believe it s spinach   38798       30
3                              italian  gut busters   35173       45
4          love is in the air  beef fondue   sauces   84797       25
...                                             ...     ...      ...
29995  zurie s holey rustic olive and cheddar bread  267661       80
29996          zwetschgenkuchen  bavarian plum cake  386977      240
29997   zwiebelkuchen   southwest german onion cake  103312       75
29998                                   zydeco soup  486161       60
29999        cookies by design   cookies on a stick  298512       29

       contributor_id   submitted  n_steps  \
0               35193  2002-10-25      NaN
1               91970  2003-07-26      NaN
2                1533  2002-08-29      NaN
3               22724  2002-07-27      NaN
4                4470  2004-02-23      4.0
...               ...         ...      ...
29995          200862  2007-11-25     16.0
29996          177443  2009-08-24      NaN
29997          161745  2004-11-03      NaN
29998          227978  2012-08-29      NaN
29999          506822  2008-04-15      9.0

                                             description  n_ingredients
0      an original recipe created by chef scott meska...           18.0
1      my children and their friends ask for my homem...            NaN
2                these were so go, it surprised even me.            8.0
3      my sister-in-law made these for us at a family...            NaN
4      i think a fondue is a very romantic casual din...            NaN
...                                                  ...            ...
29995  this is based on a french recipe but i changed...           10.0
29996  this is a traditional fresh plum cake, thought...           11.0
29997  this is a traditional late summer early fall s...            NaN
29998  this is a delicious soup that i originally fou...            NaN
29999  i've heard of the 'cookies by design' company,...           10.0

[30000 rows x 8 columns]

Reviews:
        Unnamed: 0     user_id  recipe_id        date  rating  \
0           370476       21752      57993  2003-05-01       5
1           624300      431813     142201  2007-09-16       5
2           187037      400708     252013  2008-01-10       4
3           706134  2001852463     404716  2017-12-11       5
4           312179       95810     129396  2008-03-14       5
...            ...         ...        ...         ...     ...
126691     1013457     1270706     335534  2009-05-17       4
126692      158736     2282344       8701  2012-06-03       0
126693     1059834      689540     222001  2008-04-08       5
126694      453285  2000242659     354979  2015-06-02       5
126695      691207      463435     415599  2010-09-30       5

                                                   review
0       Last week whole sides of frozen salmon fillet ...
1       So simple and so tasty!  I used a yellow capsi...
2       Very nice breakfast HH, easy to make and yummy...
3       These are a favorite for the holidays and so e...
4       Excellent soup!  The tomato flavor is just gre...
...                                                   ...
126691  This recipe was great! I made it last night. I...
126692  This recipe is outstanding. I followed the rec...
126693  Well, we were not a crowd but it was a fabulou...
126694  I have been a steak eater and dedicated BBQ gr...
126695  Wonderful and simple to prepare seasoning blen...

[126696 rows x 6 columns]

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [8]:
print(f"[Task 1.2] Answer:\n")
print(f"Recipes:\nRows: {recipes.shape[0]}\nColumns: {recipes.shape[1]}\nTypes: {recipes.dtypes}\n")
print(f"Reviews:\nRows: {reviews.shape[0]}\nColumns: {reviews.shape[1]}\nTypes: {reviews.dtypes}")

[Task 1.2] Answer:

Recipes:
Rows: 30000
Columns: 8
Types: name               object
id                  int64
minutes             int64
contributor_id      int64
submitted          object
n_steps           float64
description        object
n_ingredients     float64
dtype: object

Reviews:
Rows: 126696
Columns: 6
Types: Unnamed: 0     int64
user_id        int64
recipe_id      int64
date          object
rating         int64
review        object
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [9]:
print(f"[Task 1.3] Answer:\n")
print(f"Recipes:\n{recipes.isna().sum()}\nShare from all lists: {(recipes.shape[0] - recipes.dropna().shape[0])/recipes.shape[0]*100}%\n")
print(f"Reviews:\n{reviews.isna().sum()}\nShare from all lists: {(reviews.shape[0] - reviews.dropna().shape[0])/reviews.shape[0]*100}%")

[Task 1.3] Answer:

Recipes:
name                  0
id                    0
minutes               0
contributor_id        0
submitted             0
n_steps           11190
description         623
n_ingredients      8880
dtype: int64
Share from all lists: 56.846666666666664%

Reviews:
Unnamed: 0     0
user_id        0
recipe_id      0
date           0
rating         0
review        17
dtype: int64
Share from all lists: 0.013417945317926377%

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [10]:
print(f"[Task 1.4] Answer:\n")
print(f"Recipes:\n{recipes[['minutes', 'n_steps', 'n_ingredients']].mean()}\n")
print(f"Reviews:\n{reviews[['rating']].mean()}")

[Task 1.4] Answer:

Recipes:
minutes          123.358133
n_steps            9.805582
n_ingredients      9.008286
dtype: float64

Reviews:
rating    4.410802
dtype: float64

1.5 Создайте серию из 10 случайных названий рецептов.

In [11]:
print(f"[Task 1.5] Answer:\n\n{recipes['name'].sample(n=10)}")

[Task 1.5] Answer:

7386                                  cold cereal
18305                           mushroom mountain
24637                  smoky grilled cheese fries
6794                     chocolate waffle cookies
10487                                   el ritual
557                          almost alice chicken
18640                   new york style cheesecake
10431                      eggplant curry  indian
1171     artichoke  pancetta and spinach frittata
28354                      tzatziki    gyro sauce
Name: name, dtype: object

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [12]:
print(f"[Task 1.6] Answer:\n\n{reviews.sort_values('Unnamed: 0')}")

[Task 1.6] Answer:

        Unnamed: 0     user_id  recipe_id        date  rating  \
19903            5       52282     120345  2005-05-21       4
30788            6      124416     120345  2011-08-06       0
119160           7  2000192946     120345  2015-05-10       2
29792            8       76535     134728  2005-09-02       4
27624            9      273745     134728  2005-12-22       5
...            ...         ...        ...         ...     ...
47918      1132291      681416     103587  2010-02-02       5
65847      1132292     1986433     103587  2011-08-19       1
90049      1132293     2317533     103587  2012-07-05       5
13818      1132326     1963163     451490  2015-05-23       5
108149     1132352     1269180     257796  2011-08-07       4

                                                   review
19903   very very sweet. after i waited the 2 days i b...
30788   Just an observation, so I will not rate.  I fo...
119160  This recipe was OVERLY too sweet.  I would sta...
29792                                          Very good!
27624                              Better than the real!!
...                                                   ...
47918   This is a delicious alternative to tartar sauc...
65847   Sorry, but this is awful the mix of ingredient...
90049   Outstanding dill sauce!  I used about a tsp of...
13818   Just made this for the first time today. This ...
108149  Very tender and juicy -  had trouble getting t...

[126696 rows x 6 columns]

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [13]:
print(f"[Task 1.7] Answer:\n")
print(recipes[ (recipes['minutes'] <= 20) & (recipes['n_ingredients'] <= 5)])

[Task 1.7] Answer:

                                                    name      id  minutes  \
28                                   quick biscuit bread  302399       20
60                         peas  fit for a king or queen  303944       20
90                     hawaiian sunrise           mimosa  100837        5
91            tasty dish s   banana pudding in 2 minutes  286484        2
94                                    1 minute meatballs   11361       13
...                                                  ...     ...      ...
29873  zip and steam red potatoes with butter and garlic  304922       13
29874                          ziplock vanilla ice cream   74250       10
29905                      zucchini and corn with cheese  256177       15
29980               zucchini with jalapeno monterey jack  320622       10
29983                          zucchini with serrano ham  162411       15

       contributor_id   submitted  n_steps  \
28             213909  2008-05-06     11.0
60             213909  2008-05-16      NaN
90              58104  2004-09-29      4.0
91              47892  2008-02-13      NaN
94               4470  2001-09-03      NaN
...               ...         ...      ...
29873          724218  2008-05-27      9.0
29874           24386  2003-10-29      8.0
29905          305531  2007-09-29      4.0
29980          305531  2008-08-20      3.0
29983          152500  2006-03-31      6.0

                                             description  n_ingredients
28     this is a wonderful quick bread to make as an ...            5.0
60     this recipe is so simple and the flavors are s...            5.0
90     pineapple mimosa was changed to hawaiian sunri...            3.0
91     "mmmm, i love bananas!" a --tasty dish-- origi...            4.0
94     this is a real short cut for cooks in a hurry....            2.0
...                                                  ...            ...
29873  i haven't tried this yet, but i am going to so...            5.0
29874  a fun thing for kids to do. may want to use mi...            3.0
29905  from betty crocker fresh spring recipes. i lik...            5.0
29980                                  simple and yummy!            3.0
29983  this dish is from tim malzer, a german chef wh...            5.0

[2019 rows x 8 columns]

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [14]:
print(f"[Task 2.1] Answer:\n")
t2_1 = pd.read_csv("data/recipes_sample.csv")
t2_1["submitted"] = pd.to_datetime(t2_1["submitted"])
print(t2_1)

[Task 2.1] Answer:

                                               name      id  minutes  \
0             george s at the cove  black bean soup   44123       90
1                healthy for them  yogurt popsicles   67664       10
2                      i can t believe it s spinach   38798       30
3                              italian  gut busters   35173       45
4          love is in the air  beef fondue   sauces   84797       25
...                                             ...     ...      ...
29995  zurie s holey rustic olive and cheddar bread  267661       80
29996          zwetschgenkuchen  bavarian plum cake  386977      240
29997   zwiebelkuchen   southwest german onion cake  103312       75
29998                                   zydeco soup  486161       60
29999        cookies by design   cookies on a stick  298512       29

       contributor_id  submitted  n_steps  \
0               35193 2002-10-25      NaN
1               91970 2003-07-26      NaN
2                1533 2002-08-29      NaN
3               22724 2002-07-27      NaN
4                4470 2004-02-23      4.0
...               ...        ...      ...
29995          200862 2007-11-25     16.0
29996          177443 2009-08-24      NaN
29997          161745 2004-11-03      NaN
29998          227978 2012-08-29      NaN
29999          506822 2008-04-15      9.0

                                             description  n_ingredients
0      an original recipe created by chef scott meska...           18.0
1      my children and their friends ask for my homem...            NaN
2                these were so go, it surprised even me.            8.0
3      my sister-in-law made these for us at a family...            NaN
4      i think a fondue is a very romantic casual din...            NaN
...                                                  ...            ...
29995  this is based on a french recipe but i changed...           10.0
29996  this is a traditional fresh plum cake, thought...           11.0
29997  this is a traditional late summer early fall s...            NaN
29998  this is a delicious soup that i originally fou...            NaN
29999  i've heard of the 'cookies by design' company,...           10.0

[30000 rows x 8 columns]

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [15]:
print(f"[Task 2.2] Answer:\n")
print(t2_1[t2_1['submitted'] < pd.to_datetime('20100101', format="%Y%m%d")])

[Task 2.2] Answer:

                                               name      id  minutes  \
0             george s at the cove  black bean soup   44123       90
1                healthy for them  yogurt popsicles   67664       10
2                      i can t believe it s spinach   38798       30
3                              italian  gut busters   35173       45
4          love is in the air  beef fondue   sauces   84797       25
...                                             ...     ...      ...
29993                     zuni caf zucchini pickles  316950     2895
29995  zurie s holey rustic olive and cheddar bread  267661       80
29996          zwetschgenkuchen  bavarian plum cake  386977      240
29997   zwiebelkuchen   southwest german onion cake  103312       75
29999        cookies by design   cookies on a stick  298512       29

       contributor_id  submitted  n_steps  \
0               35193 2002-10-25      NaN
1               91970 2003-07-26      NaN
2                1533 2002-08-29      NaN
3               22724 2002-07-27      NaN
4                4470 2004-02-23      4.0
...               ...        ...      ...
29993           62264 2008-07-31      NaN
29995          200862 2007-11-25     16.0
29996          177443 2009-08-24      NaN
29997          161745 2004-11-03      NaN
29999          506822 2008-04-15      9.0

                                             description  n_ingredients
0      an original recipe created by chef scott meska...           18.0
1      my children and their friends ask for my homem...            NaN
2                these were so go, it surprised even me.            8.0
3      my sister-in-law made these for us at a family...            NaN
4      i think a fondue is a very romantic casual din...            NaN
...                                                  ...            ...
29993  refrigerator pickles for some of the zucchini ...            8.0
29995  this is based on a french recipe but i changed...           10.0
29996  this is a traditional fresh plum cake, thought...           11.0
29997  this is a traditional late summer early fall s...            NaN
29999  i've heard of the 'cookies by design' company,...           10.0

[26123 rows x 8 columns]

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [16]:
print(f"[Task 3.1] Answer:\n")
t3_1 = pd.read_csv("data/recipes_sample.csv", parse_dates=['submitted'])
t3_1_1 = t3_1.assign(description_length = t3_1['description'].str.len())
print(t3_1_1)

[Task 3.1] Answer:

                                               name      id  minutes  \
0             george s at the cove  black bean soup   44123       90
1                healthy for them  yogurt popsicles   67664       10
2                      i can t believe it s spinach   38798       30
3                              italian  gut busters   35173       45
4          love is in the air  beef fondue   sauces   84797       25
...                                             ...     ...      ...
29995  zurie s holey rustic olive and cheddar bread  267661       80
29996          zwetschgenkuchen  bavarian plum cake  386977      240
29997   zwiebelkuchen   southwest german onion cake  103312       75
29998                                   zydeco soup  486161       60
29999        cookies by design   cookies on a stick  298512       29

       contributor_id  submitted  n_steps  \
0               35193 2002-10-25      NaN
1               91970 2003-07-26      NaN
2                1533 2002-08-29      NaN
3               22724 2002-07-27      NaN
4                4470 2004-02-23      4.0
...               ...        ...      ...
29995          200862 2007-11-25     16.0
29996          177443 2009-08-24      NaN
29997          161745 2004-11-03      NaN
29998          227978 2012-08-29      NaN
29999          506822 2008-04-15      9.0

                                             description  n_ingredients  \
0      an original recipe created by chef scott meska...           18.0
1      my children and their friends ask for my homem...            NaN
2                these were so go, it surprised even me.            8.0
3      my sister-in-law made these for us at a family...            NaN
4      i think a fondue is a very romantic casual din...            NaN
...                                                  ...            ...
29995  this is based on a french recipe but i changed...           10.0
29996  this is a traditional fresh plum cake, thought...           11.0
29997  this is a traditional late summer early fall s...            NaN
29998  this is a delicious soup that i originally fou...            NaN
29999  i've heard of the 'cookies by design' company,...           10.0

       description_length
0                   330.0
1                   255.0
2                    39.0
3                   154.0
4                   587.0
...                   ...
29995               484.0
29996               286.0
29997               311.0
29998               648.0
29999               125.0

[30000 rows x 9 columns]

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [17]:
print(f"[Task 3.2] Answer:\n")
t3_1_1['name'] = t3_1_1['name'].str.title()
print(f"{t3_1_1}")

[Task 3.2] Answer:

                                               name      id  minutes  \
0             George S At The Cove  Black Bean Soup   44123       90
1                Healthy For Them  Yogurt Popsicles   67664       10
2                      I Can T Believe It S Spinach   38798       30
3                              Italian  Gut Busters   35173       45
4          Love Is In The Air  Beef Fondue   Sauces   84797       25
...                                             ...     ...      ...
29995  Zurie S Holey Rustic Olive And Cheddar Bread  267661       80
29996          Zwetschgenkuchen  Bavarian Plum Cake  386977      240
29997   Zwiebelkuchen   Southwest German Onion Cake  103312       75
29998                                   Zydeco Soup  486161       60
29999        Cookies By Design   Cookies On A Stick  298512       29

       contributor_id  submitted  n_steps  \
0               35193 2002-10-25      NaN
1               91970 2003-07-26      NaN
2                1533 2002-08-29      NaN
3               22724 2002-07-27      NaN
4                4470 2004-02-23      4.0
...               ...        ...      ...
29995          200862 2007-11-25     16.0
29996          177443 2009-08-24      NaN
29997          161745 2004-11-03      NaN
29998          227978 2012-08-29      NaN
29999          506822 2008-04-15      9.0

                                             description  n_ingredients  \
0      an original recipe created by chef scott meska...           18.0
1      my children and their friends ask for my homem...            NaN
2                these were so go, it surprised even me.            8.0
3      my sister-in-law made these for us at a family...            NaN
4      i think a fondue is a very romantic casual din...            NaN
...                                                  ...            ...
29995  this is based on a french recipe but i changed...           10.0
29996  this is a traditional fresh plum cake, thought...           11.0
29997  this is a traditional late summer early fall s...            NaN
29998  this is a delicious soup that i originally fou...            NaN
29999  i've heard of the 'cookies by design' company,...           10.0

       description_length
0                   330.0
1                   255.0
2                    39.0
3                   154.0
4                   587.0
...                   ...
29995               484.0
29996               286.0
29997               311.0
29998               648.0
29999               125.0

[30000 rows x 9 columns]

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами).

In [18]:
print(f"[Task 3.3] Answer:\n")
t3_3 = t3_1_1.assign(name_word_count = t3_1_1['name'].str.split(expand=True).count(axis=1))
print(f"{t3_3}")

[Task 3.3] Answer:

                                               name      id  minutes  \
0             George S At The Cove  Black Bean Soup   44123       90
1                Healthy For Them  Yogurt Popsicles   67664       10
2                      I Can T Believe It S Spinach   38798       30
3                              Italian  Gut Busters   35173       45
4          Love Is In The Air  Beef Fondue   Sauces   84797       25
...                                             ...     ...      ...
29995  Zurie S Holey Rustic Olive And Cheddar Bread  267661       80
29996          Zwetschgenkuchen  Bavarian Plum Cake  386977      240
29997   Zwiebelkuchen   Southwest German Onion Cake  103312       75
29998                                   Zydeco Soup  486161       60
29999        Cookies By Design   Cookies On A Stick  298512       29

       contributor_id  submitted  n_steps  \
0               35193 2002-10-25      NaN
1               91970 2003-07-26      NaN
2                1533 2002-08-29      NaN
3               22724 2002-07-27      NaN
4                4470 2004-02-23      4.0
...               ...        ...      ...
29995          200862 2007-11-25     16.0
29996          177443 2009-08-24      NaN
29997          161745 2004-11-03      NaN
29998          227978 2012-08-29      NaN
29999          506822 2008-04-15      9.0

                                             description  n_ingredients  \
0      an original recipe created by chef scott meska...           18.0
1      my children and their friends ask for my homem...            NaN
2                these were so go, it surprised even me.            8.0
3      my sister-in-law made these for us at a family...            NaN
4      i think a fondue is a very romantic casual din...            NaN
...                                                  ...            ...
29995  this is based on a french recipe but i changed...           10.0
29996  this is a traditional fresh plum cake, thought...           11.0
29997  this is a traditional late summer early fall s...            NaN
29998  this is a delicious soup that i originally fou...            NaN
29999  i've heard of the 'cookies by design' company,...           10.0

       description_length  name_word_count
0                   330.0                8
1                   255.0                5
2                    39.0                7
3                   154.0                3
4                   587.0                8
...                   ...              ...
29995               484.0                8
29996               286.0                4
29997               311.0                5
29998               648.0                2
29999               125.0                7

[30000 rows x 10 columns]

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [19]:
print(f"[Task 4.1] Answer:")
t4_1 = t3_3.groupby(['contributor_id'])['id'].count()
print(f"Number of recipes for each contributor:\n\n{t4_1}\n\nContributors with the most recipes:\n{t4_1[t4_1 == t4_1.max()]}")

[Task 4.1] Answer:
Number of recipes for each contributor:

contributor_id
1530            5
1533          186
1534           50
1535           40
1538            8
             ...
2001968497      2
2002059754      1
2002234079      1
2002234259      1
2002247884      1
Name: id, Length: 8404, dtype: int64

Contributors with the most recipes:
contributor_id
89831    421
Name: id, dtype: int64

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы?

In [20]:
print(f"[Task 4.2] Answer:")
t4_2 = pd.read_csv("data/reviews_sample.csv").groupby('recipe_id')['rating'].mean()
print(f"Average rating for each recipes:\n\n{t4_2}\nNumber of recipes without reviews: {t3_3.shape[0] - t4_2.shape[0]}")

[Task 4.2] Answer:
Average rating for each recipes:

recipe_id
48        1.000000
55        4.750000
66        4.944444
91        4.750000
94        5.000000
            ...
536547    5.000000
536610    0.000000
536728    4.000000
536729    4.750000
536747    0.000000
Name: rating, Length: 28100, dtype: float64
Number of recipes without reviews: 1900

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [21]:
print(f"[Task 4.3] Answer:")
t4_3 = t3_3
print(f"Number of recipes by year of creation:\n\n{t4_3.groupby(pd.to_datetime(t4_3['submitted']).dt.year)['id'].count()}")

[Task 4.3] Answer:
Number of recipes by year of creation:

submitted
1999     275
2000     104
2001     589
2002    2644
2003    2334
2004    2153
2005    3130
2006    3473
2007    4429
2008    4029
2009    2963
2010    1538
2011     922
2012     659
2013     490
2014     139
2015      42
2016      24
2017      39
2018      24
Name: id, dtype: int64

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты без отзывов должны отсутствовать в данной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и выведя на экран строку из полученного `DataFrame`, содержащую информацию об этом отзыве.

In [22]:
print(f"[Task 5.1] Answer:\n")
t5_1 = pd.read_csv("data/recipes_sample.csv")
t5_1_1 = pd.read_csv("data/reviews_sample.csv")

t5_1_2 = t5_1.merge(t5_1_1, left_on = 'id', right_on = 'recipe_id')[["id", "name", "user_id", "rating"]]
print(f"Recipes only with reviews :\n{t5_1_2}")

t5_1_4 = t5_1.merge(t5_1_1, left_on = 'id', right_on = 'recipe_id', how = 'left')
t5_1_5 = t5_1_4[pd.isnull(t5_1_4['user_id'])][["id", "name", "user_id", "rating"]]
print(f"Recipes without reviews:\n{t5_1_5}")

# print(f"Test:\n{t5_1_2[t5_1_2['id'] == 223349]}")

[Task 5.1] Answer:

Recipes only with reviews :
            id                                    name  user_id  rating
0        44123   george s at the cove  black bean soup   743566       5
1        44123   george s at the cove  black bean soup    76503       5
2        44123   george s at the cove  black bean soup    34206       5
3        67664      healthy for them  yogurt popsicles   494084       5
4        67664      healthy for them  yogurt popsicles   303445       5
...        ...                                     ...      ...     ...
126691  486161                             zydeco soup   305531       5
126692  486161                             zydeco soup  1271506       5
126693  486161                             zydeco soup   724631       5
126694  486161                             zydeco soup   133174       5
126695  298512  cookies by design   cookies on a stick   804234       1

[126696 rows x 4 columns]
Recipes without reviews:
            id                                     name  user_id  rating
191     223349            pasta  with shrimp   eggplant      NaN     NaN
195     342620          secret ingredient  bbq meatloaf      NaN     NaN
216     276594        windy s  sweet and sour meatballs      NaN     NaN
282     216068  goulashy  beef stew for the slow cooker      NaN     NaN
300     306590             old bay  grilled steak fries      NaN     NaN
...        ...                                      ...      ...     ...
128149   66966                       zingy potato salad      NaN     NaN
128256  249846       zucchini  mock green papaya  salad      NaN     NaN
128273  256177            zucchini and corn with cheese      NaN     NaN
128436  178243                       zucchini nut salad      NaN     NaN
128535  363362     zucchini with bell pepper and tomato      NaN     NaN

[1900 rows x 4 columns]

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`. У рецептов, для которых отсутствуют отзывы, в соответствущем столбце должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и выведя на экран строку из полученного `DataFrame`, содержащую информацию об этом отзыве.

In [23]:
print(f"[Task 5.2] Answer:\n")
t5_2 = t5_1.merge(t5_1_1, left_on = 'id', right_on = 'recipe_id', how = 'left').groupby('id').count()['review'].reset_index()
t5_2_1 = t5_1[['id', 'name']].merge(t5_2, on = 'id').rename(columns={'id': 'recipe_id', 'review': 'review_count'})
print(f"{t5_2_1}\n\nTest:\n{t5_2_1[t5_2_1['review_count'] == 0]}")

[Task 5.2] Answer:

       recipe_id                                          name  review_count
0          44123         george s at the cove  black bean soup             3
1          67664            healthy for them  yogurt popsicles             8
2          38798                  i can t believe it s spinach             3
3          35173                          italian  gut busters             1
4          84797      love is in the air  beef fondue   sauces             8
...          ...                                           ...           ...
29995     267661  zurie s holey rustic olive and cheddar bread             4
29996     386977          zwetschgenkuchen  bavarian plum cake             2
29997     103312   zwiebelkuchen   southwest german onion cake             6
29998     486161                                   zydeco soup             6
29999     298512        cookies by design   cookies on a stick             1

[30000 rows x 3 columns]

Test:
       recipe_id                                     name  review_count
26        223349            pasta  with shrimp   eggplant             0
29        342620          secret ingredient  bbq meatloaf             0
35        276594        windy s  sweet and sour meatballs             0
49        216068  goulashy  beef stew for the slow cooker             0
59        306590             old bay  grilled steak fries             0
...          ...                                      ...           ...
29871      66966                       zingy potato salad             0
29903     249846       zucchini  mock green papaya  salad             0
29905     256177            zucchini and corn with cheese             0
29951     178243                       zucchini nut salad             0
29979     363362     zucchini with bell pepper and tomato             0

[1900 rows x 3 columns]

5.3. Выясните, отзывы, добавленные в каком году, имеют наименьший средний рейтинг?

In [24]:
print(f"[Task 5.3] Answer:\n")
t5_3 = t5_1_1['rating'].groupby(pd.to_datetime(t5_1_1['date']).dt.year).mean().reset_index()
print(f"{t5_3[t5_3['rating'] == t5_3['rating'].min()]}\n\nAverage rating for each year:\n\n{t5_3}")

[Task 5.3] Answer:

    date    rating
17  2017  3.353042

Average rating for each year:

    date    rating
0   2000  3.384615
1   2001  4.134426
2   2002  4.481556
3   2003  4.526940
4   2004  4.546548
5   2005  4.563680
6   2006  4.603673
7   2007  4.547077
8   2008  4.484635
9   2009  4.524728
10  2010  4.454440
11  2011  4.302045
12  2012  4.341427
13  2013  4.274168
14  2014  4.110595
15  2015  4.047145
16  2016  3.912603
17  2017  3.353042
18  2018  3.504076

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [33]:
print(f"[Task 6.1] Answer:\n")
t6_1 = t3_3.sort_values(by = 'name_word_count', ascending=False)

t3_1_1.to_csv("Task 3.1-3.2.csv", index=False)
t6_1.to_csv("Task 3.3.csv", index=False)

[Task 6.1] Answer:

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

In [34]:
print(f"[Task 6.2] Answer:\n")
t6_2 = pd.ExcelWriter('6.2.xlsx')
t5_1_2.to_excel(t6_2, sheet_name="Recipes with ratings", index=False)
t5_2_1.to_excel(t6_2, sheet_name="Number of reviews by recipes", index=False)
t6_2.save()

[Task 6.2] Answer: